body {
    box-sizing: border-box;

    width: 100%;
    height: auto;

    overflow-x: hidden;

}

.pagina{
    overflow-x: hidden;
    overflow-y: scroll;
}

/****************  CABEÇALHO DA PAGINA  *******************/
header {
    width: 100%;
    height: 92px;

    top: 0;
    left: 0;


    background-color: rgba(207, 43, 43, 1);

    position: fixed;

    display: flex;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_titulo {
    width: 248px;
    height: 44px;

    margin-top: 8px;
    margin-bottom: 40px;
    margin-right: 145px;
    margin-left: 21px;



    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;

    color: rgba(255, 255, 255, 1);

    display: flex;
    position: absolute;


}

.header_subtitulo {
    width: 226px;
    height: 17px;

    margin-top: 57px;
    margin-bottom: 18px;
    margin-right: 167px;
    margin-left: 21px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: rgba(255, 255, 255, 1);


    display: flex;
    position: absolute;

}


/****************  CONTÉUDO DA PAGINA  *******************/

.conteudo {
    width: AUTO;
    height: auto;

    background-color: yellow;

    margin-left: 0;


}

.prato-principal {
    overflow-x: scroll;

}

.bebida {
    overflow-x: scroll;

}

.sobremesa {
    overflow-x: scroll;

    margin-bottom: 93px;

}
.conteudo_titulo {
    width: 320px;
    height: 25px;

    margin-left: 19px;
    margin-top: 123px;
    margin-bottom: 17px;

    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;


    color: #333333;
}

.conteudo_principal {
    
    width: 1000px;
    height: 220px;

    background-color: green;

    display: flex;
    flex-wrap: wrap;

    overflow-x: scroll;


}

.prato-1 {
    width: 172px;
    height: 216px;

    background-color: indigo;

    margin-right: 10px;



}


/****************  RODAPÉ DA PAGINA  *******************/

footer {
    width: 414px;
    height: 92px;

    left: 0;
    bottom: 0;

    background-color: red;

    position: absolute;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer > nav {
    width: 364px;
    height: 61px;

    bottom: 16px;
    left: 0;

    background-color: rgba(203, 203, 203, 1);
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    overflow-x: hidden;
}

footer p {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;

    position: absolute;

}